 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.header-top .navbar1{
  margin-top: 5px;
  width: 100%;
  height: 65px;
  background: cyan;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .navbar1 .left{
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.header-top .navbar1 .left .logo p{
  font-size: 30px;
  font-weight: bold;
  color: #494949;
  font-family: "Arial verdana" sans-serif;
  margin-right: 25px;
  padding: 0 20px; 
}

.header-top .navbar1 .left .logo p span{
  color: #37a000;
  font-family: "Mountains of Christmas", cursive;
}

.header-top .navbar1 .left .search_bar input[type="text"]{
  border: 1px solid #666666;
  padding: 5px 10px;
  height: 40px;
  width: 300px; 
  outline: none;
  transition: all 0.5s linear;
  border-radius: 50px;

}
.header-top .navbar1 .left .search_bar a {
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e84118;
	background: #2f3640;
}

.header-top .navbar1 .left .search_bar input[type="text"]:focus{
  width: 350px;
}

.header-top .navbar1 .right ul{
  display: flex;
}

.header-top .navbar1 .right ul li{
  margin: 0 15px;
}

.header-top .navbar1 .right ul li:last-child{
  background:  #37a000;
  margin-right: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header-top .navbar1 .right ul li:hover:last-child{
  background: #494949;
}

.header-top .navbar1 .right ul li a{
  display: block;
  padding: 8px 10px;
  color: #666666;
  font-weight: bold;
}

.header-top .navbar1 .right ul li:last-child a{
   color: #fff;
   position: relative;
}

.header-top .navbar2{
  width: 100%;
  background: #ffff99;
  height: 45px;
  padding: 0 50px;
}
.header-top .navbar1 .left .language{
	margin: 0;
  padding: 0px 2px; 
}

.header-top .navbar2 ul{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 490px;
  box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
  color: black;
  padding: 12px 15px;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown a:hover{
      color: red;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #fff;
  height: 220px;
}

.column a {
  float:none;
  color: black;
  padding: 15px;
  display: block;
  text-align: left;
  background-color: #F4A460;
}
.row:after {
  content: "";
  display: table;
  
}